In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [7]:
mtcars=pd.read_csv("C://Users//lenovo//Downloads//mtcars.xlsx - mtcars.csv")

#### EDA

In [9]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [24]:
mtcars.isna().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [11]:
mtcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [13]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,261.971875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,249.353425,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,1472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [15]:
mtcars.shape

(32, 11)

#### Removing Duplicates

In [20]:
mtcars=mtcars.drop_duplicates()

#### Split the data into x,y

In [35]:
x=mtcars.iloc[:,1:]
y=mtcars.iloc[:,0]

In [37]:
x.head()

   cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [39]:
y.head()

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
x_train.head()

    cyl    disp   hp  drat     wt   qsec  vs  am  gear  carb
21    8   318.0  150  2.76  3.520  16.87   0   0     3     2
14    8  1472.0  205  2.93  5.250  17.98   0   0     3     4
16    8   440.0  230  3.23  5.345  17.42   0   0     3     4
25    4    79.0   66  4.08  1.935  18.90   1   1     4     1
19    4    71.1   65  4.22  1.835  19.90   1   1     4     1

In [45]:
x_test.head()

    cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
20    4  120.1   97  3.70  2.465  20.01   1   0     3     1
0     6  160.0  110  3.90  2.620  16.46   0   1     4     4
23    8  350.0  245  3.73  3.840  15.41   0   0     3     4
12    8  275.8  180  3.07  3.730  17.60   0   0     3     3
29    6  145.0  175  3.62  2.770  15.50   0   1     5     6

In [51]:
y_train.head()

21    15.5
14    10.4
16    14.7
25    27.3
19    33.9
Name: mpg, dtype: float64

In [53]:
y_test.head()

20    21.5
0     21.0
23    13.3
12    17.3
29    19.7
Name: mpg, dtype: float64

#### Identify Numerical and Categorical columns in the Data

In [63]:
numerical = x_train.select_dtypes(include=['int64','float64']).columns
numerical

Index(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'], dtype='object')

In [67]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [76]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
linear_pred = linear_model.predict(x_test)

In [80]:
random_model = RandomForestRegressor()
random_model.fit(x_train, y_train)
random_pred = random_model.predict(x_test)

In [90]:
def evaluate_model(y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    print("MSE:", mse)
    print("RMSE:", rmse)
    print("R2 Score:", r2)

In [92]:
# "Linear Regression"

In [94]:
evaluate_model(y_test,linear_pred)

MSE: 5.092174946133641
RMSE: 2.2565847970181934
R2 Score: 0.2893695250610947

In [96]:
#"Random Forest"

In [101]:
evaluate_model(y_test,random_pred)# based on cross validation random forest better than linear regression

MSE: 1.9684322857142715
RMSE: 1.4030082985193892
R2 Score: 0.7252985247208952